* {
  font-family: 'Puritan', sans-serif;
}

.navbar-custom {
  background-color: black;
  font-family: 'Oswald', sans-serif;
}

.navbar-default .navbar-brand {
  color: white;
}

#nav-logo {
  font-family: 'Nova Round', cursive;
  font-size: 2em;
}

.navlink {
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
}

/* start.html styling */

.row {
  background-repeat: no-repeat;
  height: 700px;
}

#row1 {
  background-image: url("../images/manhattan_beach.png");
  background-size: cover;
  background-position: center center;
  margin-left: 0px;
  margin-top: 25px;
}

#row1-text {
  margin-top: 6%;
}

#start-textbox1 {
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

#start-textbox1 p {
  font-size: 2.5em;
  font-family: 'Oswald', sans-serif;
}

#logo {
  text-align: center;
  font-family: 'Nova Round', cursive;
  font-size: 10em;
  margin-top: 6%;
}

#logo a {
  color: black;
}

#logo a:hover {
  color: white;
  text-decoration: none;
}

#row2 {
/*  background-color: #F5F4D3;*/
  /*height: 680px;*/
  background-image: url("../images/santa_monica.png");
  background-size: cover;
  background-position: center center;
}

#start-textbox2 {
  width: 90%;
  margin: 10% 5%;
  text-align: center;
}

.tutorial-box {
  width: 30%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
}

#tutorial-3 {
  float: right;
}

#tutorial-1 {
  float: left;
}

#row3 {
  background-image: url("../images/griffith.png");
  margin-left: 0px;
  background-size: cover;
  background-position: center center;
  /*height: 680px;*/
}

#start-textbox3 {
  width: 50%;
  margin-left: 25%;
  margin-top: 13%;
  text-align: center;
  font-size: 40px;
}

#start-textbox3 a {
  color: black;
}

#start-textbox3 a:hover {
  color: white;
}

#get-started {
  font-size: 70px;
}

/* map.html styling */

.angular-google-map-container {
  position:absolute;
  width:auto;
  height: auto;
  top:50px;
  left:0;
  right:0;
  bottom:0;
  img {
    max-width: none;
  }
}

/* signin.html styling */

#signin-background {
  background-image: url("../images/venice.png");
  background-size: cover;
  background-position: center center;
  height: 700px;
  position: relative;
}

#signin-container {
  margin-top: 10%;
  margin-left: 62%;
  width: 30%;
  height: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  position: absolute;
}

#signin-header {
  padding: 25px 0 25px 0;
  font-size: 3.5em;
  font-family: 'Oswald', sans-serif;
}

#signin-container p {
  margin-top: 10px;
}

#signin-submit {
  margin-top: 10px;
}

/* signup.html styling */

#signup-background {
  background-image: url("../images/lifeguard.png");
  background-size: cover;
  background-position: center center;
  height: 750px;
  position: relative;
}

#signup-container {
  margin-top: 10%;
  margin-left: 65%;
  width: 30%;
  height: 65%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  position: absolute;
}

#signup-header {
  padding: 15px 0 15px 0;
  font-size: 3.5em;
  font-family: 'Oswald', sans-serif;
}

#signup-submit {
  margin-top: 10px;
}

@media only screen 
and (max-width : 200px) {
  #logo {
    font-size: 100px;
  }
}

@media only screen 
and (max-width : 768px) {
  #signin-container {
    width: 70%;
    margin: 20% 15% 20% 15%;
  }
  #signup-container {
    width: 60%;
    margin: 20% 20% 20% 20%;
  }
  #logo {
    margin-top: 15%;
    font-size: 6em;
  }
}