.navbar {
	background-color: lightblue;
}
.angular-google-map-container {
  position:absolute;
  width:auto;
  height: auto;
  top:50px;
  left:0;
  right:0;
  bottom:0;
  img {
    max-width: none;
  }
}