<div id="map-container">
  <div id="map-canvas" ></div>
</div>


<script type="text/javascript">
var map;
var userMarker;
function initialize() {
  var userLatLng = new google.maps.LatLng(-34.0128358, -118.495338); // we set this as a var because we're going to reuse it for center/marker position -- you can elect to create separate google.maps.LatLng objects
  var mapOptions = {
    center: userLatLng, // see above
    zoom: 16 // arbitrary; you can zoom at whichever level you like
  };
  map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions); // rendering a map in a div with the id of "map-canvas" and the options specified above in mapOptions

  // Try W3C Geolocation (Preferred)
  if(navigator.geolocation) {
    browserSupportFlag = true;
    navigator.geolocation.getCurrentPosition(function(position) {
      userLatLng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
      map.setCenter(userLatLng);
      console.log("Original location Found" )
      userMarker = new google.maps.Marker({
      position: userLatLng,
      map: map,
      });

    }, function() {
      handleNoGeolocation(browserSupportFlag);
    });
  }
  // Browser doesn't support Geolocation
  else {
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }

  function handleNoGeolocation(errorFlag) {
    if (errorFlag == true) {
      alert("Geolocation service failed.");

    } else {
      alert("Your browser doesn't support geolocation. We've placed you at beautiful GA");

    }
    map.setCenter(userLatLng);
    userMarker = new google.maps.Marker({
      position: userLatLng,
      map: map
    });
  }
}
google.maps.event.addDomListener(window, 'load', initialize);
setInterval(function(){
    // Try W3C Geolocation (Preferred)
  if(navigator.geolocation) {
    browserSupportFlag = true;
    navigator.geolocation.getCurrentPosition(function(position) {
      userLatLng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
      console.log("New location Found" )
      userMarker.setMap(null);
      userMarker = new google.maps.Marker({
      position: userLatLng,
      map: map,
      });

    }, function() {
      handleNoGeolocation(browserSupportFlag);
    });
  }
  // Browser doesn't support Geolocation
  else {
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }

  function handleNoGeolocation(errorFlag) {
    if (errorFlag == true) {
      alert("Geolocation service failed.");

    } else {
      alert("Your browser doesn't support geolocation. We've placed you at beautiful GA");

    }
    userMarker.setMap(null);
    userMarker = new google.maps.Marker({
      position: userLatLng,
      map: map
    });
  }
},30000);
</script>