<div id="signin-background">

	<div id="signin-container">
		<h1 id="signin-header">Sign In</h1>
		<form name="signIn(credentials)" ng-submit="signIn.$valid" class="form-group" novalidate>

			<label for="email">
				Email:
				<input type="text" ng-model="credentials.email" name="email" class="form-control" required>
			</label>
			<br>

			<label for="password">
				Password:
				<input type="password" ng-model="credentials.password" name="password" class="form-control" ng-minlength=8 ng-maxlength=20 required>
			</label>
			<br>
			<button id="signin-submit" type="submit" class="button button-block button-positive">Submit</button>

		</form>
	</div>

</div>