<!-- <button type="button" class="btn btn-lg btn-danger" data-animation="am-fade-and-slide-top" data-template="partials/signin.html" bs-modal="modal">Sign In</button> -->

<div class="row" id="row1">
	<div id="start-textbox1">
		<div id="logo">
			<a data-match-route="/map" href="#/map">ReveaLA</a>
		</div>
	</div>
</div>
<div class="row" id="row2">
	<div id="start-textbox2">
		<div class="tutorial-box" id="tutorial-1">
			Step 1
		</div>
		<div class="tutorial-box" id="tutorial-2">
			Step 2
		</div>
		<div class="tutorial-box" id="tutorial-3">
			Step 3
		</div>
	</div>
</div>
<div class="row" id="row3">
	<div id="start-textbox3">
		<a data-match-route="/signin" href="#/signin">Sign in</a>
		    ~    
		<a data-match-route="/signup" href="#/signup">Sign up</a>
		<br>
		or
		<br>
		<a id="get-started" data-match-route="/map" href="#/map">Get Started!</a>
	</div>
</div>